MONGODB_URI = mongodb+srv://avik12345:avik12345@mern.csloa.mongodb.net/MERN?retryWrites=true&w=majority&appName=MERN
TOKEN_SECRET_KEY = "UIFGIQDBVJLFBNFAJFSGJEMNLAVEF"
FRONTEND_URL = "http://localhost:3000"